<%- include('./partials/head') %>

<!-- De opmaak van de header  -->
<%- include('./partials/header') %>

<main>
    <section>
        <h1> Lekker lezen</h1>
        <p>
            Maak kennis met verhalen in vele vormen. In jouw OBA vind je boeken om mee weg te kruipen, een theatervoorstelling waar je stil van wordt en voorleesuurtjes waar je niet over uitgepraat raakt. 
        </p>
    </section>

    <section>
        <h2> Onze nieuwe aanwinsten</h2>

        <div class="wrapper">
            <a id="left" class=" arrow arrow-left">
                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="50" height="50" transform="rotate(180)" viewBox="0 0 512 512">
                    <path d="M146.662 26.814 358.221 238.27c10.755 10.222 10.755 26.193 0 36.414L146.662 486.139" style="fill:none;stroke:#000;stroke-width:13.4167;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:2.6131"/>
                </svg>
            </a>
            <ul class="carousel">
                <% results.forEach(result => { %>
                <li class="book">
                    <a href="/item?id=<%= result.id %>" class="book-a">
                        <picture class="book-picture">
                            <img src="<%= result.coverimages %> "  width="300" height="200" loading="lazy" alt="<%= result.titles[0] %>">
                        </picture>
                    </a>
                </li>
                <% }); %>
            </ul>
            <a id="right" class=" arrow arrow-right">
                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="50" height="50" viewBox="0 0 512 512">
                    <path d="M146.662 26.814 358.221 238.27c10.755 10.222 10.755 26.193 0 36.414L146.662 486.139" style="fill:none;stroke:#000;stroke-width:13.4167;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:2.6131"/>
                </svg>
            </a>
        </div>
    </section>

    <section>
        <article>
            <h2> E-books en luisterboeken </h2>
            <a href="https://www.oba.nl/collectie/ebooks_en_luisterboeken.html">
                <picture>
                    <source srcset="/assets/index-images/oba-content-img1.avif" type="image/avif"/>
                    <source srcset="/assets/index-images/oba-content-img1.webp" type="image/webp"/>
                    <img src="/assets/index-images/oba-content-img1.jpg" alt="e-books en luisterboeken" loading="lazy">
                </picture>
            </a>
            <p> 
                Als lid van de OBA heb je toegang tot duizenden e-books en luisterboeken uit de landelijke Bibliotheek. 
                In een paar stappen lees je ze op je smartphone, tablet of e-reader.
            </p>
        </article>
        <article>
            <h2> Digitale bronnen </h2>
            <a href="https://www.oba.nl/collectie/digitale-bronnen.html">
                <picture>
                    <source srcset="/assets/index-images/oba-content-img2.avif" type="image/avif"/>
                    <source srcset="/assets/index-images/oba-content-img2.webp" type="image/webp"/>
                    <img src="/assets/index-images/oba-content-img2.jpg" alt="Passend lezen" loading="lazy">
                </picture>
            </a>
            <p> 
                In de OBA maak je gratis gebruik van uiteenlopende digitale bronnen. Ook als je geen lid bent. Ben je wel lid? Dan kan je vaak thuis ook de digitale bronnen raadplegen.
            </p>
        </article>
        <article>
            <h2> Leesclub </h2>
            <a href="https://www.oba.nl/collectie/leesclubs.html">
                <picture>
                    <source srcset="/assets/index-images/oba-content-img3.avif" type="image/avif"/>
                    <source srcset="/assets/index-images/oba-content-img3.webp" type="image/webp"/>
                    <img src="/assets/index-images/oba-content-img3.jpg" alt="Leesclub" loading="lazy">
                </picture>
            </a>
            <p> 
                Ben je op zoek naar een leesclub bij jou in de buurt? De OBA brengt je graag in contact met andere boekliefhebbers. 
                Ook voor bestaande leesclubs heeft de OBA aanbod.
            </p>
        </article>
    </section>

    <section>
        <picture>
                <source
                        srcset="/assets/index-images/oba-footer-img-large.avif 1280w,
                                /assets/index-images/oba-footer-img-medium.avif 740w,
                                /assets/index-images/oba-footer-img.small.avif 320w"
                        type="image/avif"/>
            <!-- <source srcset="/assets/index-images/oba-footer-img.webp" type="image/webp"/> -->
            <img src="/assets/index-images/oba-footer-img.jpg" alt="Tips van Oba" loading="lazy" />
        </picture>
    </section>


<!--  ======================== CHATART ROOM ======================== -->

<details class="details-box">
    <summary class="title-chatroom">
        ChatArt 
        <svg class="chatArt-icon" width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_518_43)"><path fill-rule="evenodd" clip-rule="evenodd" d="M4.18948 6.15219C8.47559 3.07404 14.6125 3.32006 18.5812 6.74699C22.5896 10.2095 23.1542 15.8639 19.8451 19.9295C16.6344 23.8741 10.7859 25.0822 6.04219 22.8997L1.02152 23.9812C0.724897 24.0451 0.417195 23.9433 0.215109 23.7144C0.013024 23.4854 -0.0524933 23.1644 0.0434056 22.8731L1.38078 18.8109C-1.21865 14.5313 -0.0151936 9.17305 4.18948 6.15219Z" fill="white"/></g>
            <g clip-path="url(#clip1_518_43)"><mask id="path-2-outside-1_518_43" maskUnits="userSpaceOnUse" x="6.875" y="0.875" width="19" height="19" fill="black">
            <rect fill="white" x="6.875" y="0.875" width="19" height="19"/><path fill-rule="evenodd" clip-rule="evenodd" d="M23.5 1.875C23.5753 1.87491 23.6482 1.88841 23.716 1.91345C23.7989 1.94386 23.8727 1.991 23.934 2.0503C24.0046 2.11833 24.0597 2.20326 24.0922 2.29982C24.1127 2.36036 24.1241 2.42469 24.125 2.49095C24.1256 2.52806 24.1229 2.56462 24.1171 2.60032C23.7745 5.08454 22.7689 7.43068 21.2059 9.39203C19.7565 11.2109 17.8776 12.6363 15.7421 13.5425C15.8574 14.2641 15.7707 15.0046 15.4904 15.6815C15.1908 16.4047 14.6834 17.023 14.0325 17.4579C13.3815 17.8928 12.6162 18.125 11.8333 18.125H8.5C8.15482 18.125 7.875 17.8452 7.875 17.5V14.1667C7.875 13.3838 8.10715 12.6185 8.5421 11.9675C8.97705 11.3166 9.59525 10.8092 10.3185 10.5096C10.9955 10.2292 11.736 10.1426 12.4576 10.2579C13.3638 8.12242 14.7893 6.24352 16.6081 4.79416C18.5696 3.23104 20.9161 2.2254 23.4006 1.88287C23.4331 1.87764 23.4663 1.87496 23.5 1.875ZM13.6497 10.6497C14.0135 9.81183 14.4653 9.0182 14.9961 8.28153C16.1442 8.91112 17.089 9.85587 17.7185 11.004C16.9819 11.5348 16.1882 11.9867 15.3504 12.3504C15.1641 11.9897 14.9225 11.6579 14.6323 11.3677C14.3422 11.0776 14.0104 10.836 13.6497 10.6497ZM14.3797 13.244C14.245 12.8725 14.0302 12.5333 13.7484 12.2516C13.4667 11.9699 13.1277 11.7551 12.7563 11.6204C12.7081 11.6144 12.6599 11.6027 12.6126 11.5848C12.5876 11.5753 12.5635 11.5645 12.5405 11.5523C12.4815 11.5363 12.4219 11.5223 12.3617 11.5104C11.8363 11.4059 11.2918 11.4595 10.7969 11.6645C10.302 11.8695 9.87903 12.2166 9.58144 12.662C9.28384 13.1074 9.125 13.631 9.125 14.1667V16.875H11.8333C12.369 16.875 12.8926 16.7162 13.338 16.4186C13.7834 16.121 14.1305 15.698 14.3355 15.2031C14.5405 14.7082 14.5941 14.1637 14.4896 13.6383C14.4776 13.5781 14.4637 13.5184 14.4477 13.4594C14.4356 13.4364 14.4247 13.4125 14.4153 13.3875C14.3974 13.3402 14.3857 13.2921 14.3797 13.244Z"/></mask>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M23.5 1.875C23.5753 1.87491 23.6482 1.88841 23.716 1.91345C23.7989 1.94386 23.8727 1.991 23.934 2.0503C24.0046 2.11833 24.0597 2.20326 24.0922 2.29982C24.1127 2.36036 24.1241 2.42469 24.125 2.49095C24.1256 2.52806 24.1229 2.56462 24.1171 2.60032C23.7745 5.08454 22.7689 7.43068 21.2059 9.39203C19.7565 11.2109 17.8776 12.6363 15.7421 13.5425C15.8574 14.2641 15.7707 15.0046 15.4904 15.6815C15.1908 16.4047 14.6834 17.023 14.0325 17.4579C13.3815 17.8928 12.6162 18.125 11.8333 18.125H8.5C8.15482 18.125 7.875 17.8452 7.875 17.5V14.1667C7.875 13.3838 8.10715 12.6185 8.5421 11.9675C8.97705 11.3166 9.59525 10.8092 10.3185 10.5096C10.9955 10.2292 11.736 10.1426 12.4576 10.2579C13.3638 8.12242 14.7893 6.24352 16.6081 4.79416C18.5696 3.23104 20.9161 2.2254 23.4006 1.88287C23.4331 1.87764 23.4663 1.87496 23.5 1.875ZM13.6497 10.6497C14.0135 9.81183 14.4653 9.0182 14.9961 8.28153C16.1442 8.91112 17.089 9.85587 17.7185 11.004C16.9819 11.5348 16.1882 11.9867 15.3504 12.3504C15.1641 11.9897 14.9225 11.6579 14.6323 11.3677C14.3422 11.0776 14.0104 10.836 13.6497 10.6497ZM14.3797 13.244C14.245 12.8725 14.0302 12.5333 13.7484 12.2516C13.4667 11.9699 13.1277 11.7551 12.7563 11.6204C12.7081 11.6144 12.6599 11.6027 12.6126 11.5848C12.5876 11.5753 12.5635 11.5645 12.5405 11.5523C12.4815 11.5363 12.4219 11.5223 12.3617 11.5104C11.8363 11.4059 11.2918 11.4595 10.7969 11.6645C10.302 11.8695 9.87903 12.2166 9.58144 12.662C9.28384 13.1074 9.125 13.631 9.125 14.1667V16.875H11.8333C12.369 16.875 12.8926 16.7162 13.338 16.4186C13.7834 16.121 14.1305 15.698 14.3355 15.2031C14.5405 14.7082 14.5941 14.1637 14.4896 13.6383C14.4776 13.5781 14.4637 13.5184 14.4477 13.4594C14.4356 13.4364 14.4247 13.4125 14.4153 13.3875C14.3974 13.3402 14.3857 13.2921 14.3797 13.244Z" fill="#FF0000"/>
            <path d="M23.716 1.91345L23.3697 2.85157L23.3714 2.85218L23.716 1.91345ZM23.5 1.875L23.4988 2.875L23.5013 2.875L23.5 1.875ZM23.934 2.0503L23.2391 2.76934L23.2401 2.77037L23.934 2.0503ZM24.0922 2.29982L23.1445 2.61911L23.1451 2.62089L24.0922 2.29982ZM24.125 2.49095L23.1251 2.50431L23.1252 2.50678L24.125 2.49095ZM24.1171 2.60032L23.13 2.4403L23.1281 2.45197L23.1265 2.46369L24.1171 2.60032ZM21.2059 9.39203L20.4239 8.76883L20.4239 8.76883L21.2059 9.39203ZM15.7421 13.5425L15.3515 12.6219L14.6313 12.9276L14.7547 13.7002L15.7421 13.5425ZM15.4904 15.6815L14.5665 15.2988L14.5665 15.2988L15.4904 15.6815ZM14.0325 17.4579L14.588 18.2894L14.588 18.2894L14.0325 17.4579ZM8.5421 11.9675L9.37357 12.5231L9.37357 12.5231L8.5421 11.9675ZM10.3185 10.5096L9.93586 9.58577L9.93586 9.58577L10.3185 10.5096ZM12.4576 10.2579L12.2999 11.2454L13.0725 11.3688L13.3782 10.6485L12.4576 10.2579ZM16.6081 4.79416L15.9849 4.0121L15.9849 4.0121L16.6081 4.79416ZM23.4006 1.88287L23.5372 2.8735L23.5482 2.87197L23.5593 2.8702L23.4006 1.88287ZM14.9961 8.28153L15.4769 7.40471L14.7016 6.97957L14.1848 7.69696L14.9961 8.28153ZM13.6497 10.6497L12.7324 10.2515L12.3601 11.1091L13.1908 11.5382L13.6497 10.6497ZM17.7185 11.004L18.3031 11.8154L19.0205 11.2985L18.5954 10.5232L17.7185 11.004ZM15.3504 12.3504L14.4619 12.8092L14.8909 13.64L15.7486 13.2677L15.3504 12.3504ZM14.6323 11.3677L13.9252 12.0748L13.9252 12.0748L14.6323 11.3677ZM13.7484 12.2516L13.0413 12.9587L13.0413 12.9587L13.7484 12.2516ZM14.3797 13.244L15.3719 13.1196L15.358 13.0085L15.3198 12.9033L14.3797 13.244ZM12.7563 11.6204L13.0971 10.6803L12.9916 10.6421L12.8804 10.6282L12.7563 11.6204ZM12.6126 11.5848L12.2593 12.5203L12.2593 12.5203L12.6126 11.5848ZM12.5405 11.5523L13.0079 10.6683L12.9093 10.6161L12.8016 10.587L12.5405 11.5523ZM12.3617 11.5104L12.1666 12.4912L12.1666 12.4912L12.3617 11.5104ZM10.7969 11.6645L10.4142 10.7406L10.4142 10.7406L10.7969 11.6645ZM9.125 16.875H8.125V17.875H9.125V16.875ZM13.338 16.4186L12.7824 15.5871L12.7824 15.5871L13.338 16.4186ZM14.3355 15.2031L13.4116 14.8204L13.4116 14.8204L14.3355 15.2031ZM14.4896 13.6383L15.4704 13.4432L15.4704 13.4432L14.4896 13.6383ZM14.4477 13.4594L15.413 13.1983L15.3839 13.0908L15.3319 12.9923L14.4477 13.4594ZM14.4153 13.3875L15.3508 13.0343L15.3508 13.0343L14.4153 13.3875ZM24.0623 0.975335C23.8855 0.910034 23.695 0.874753 23.4988 0.875001L23.5013 2.875C23.4556 2.87506 23.4109 2.86679 23.3697 2.85157L24.0623 0.975335ZM24.629 1.33126C24.4698 1.17737 24.2773 1.05426 24.0607 0.974718L23.3714 2.85218C23.3204 2.83346 23.2756 2.80462 23.2391 2.76934L24.629 1.33126ZM25.0399 1.98053C24.9548 1.72798 24.811 1.50662 24.6279 1.33022L23.2401 2.77037C23.1983 2.73005 23.1646 2.67854 23.1445 2.61911L25.0399 1.98053ZM25.1249 2.47759C25.1226 2.30479 25.0928 2.1367 25.0393 1.97875L23.1451 2.62089C23.1326 2.58402 23.1257 2.5446 23.1251 2.50431L25.1249 2.47759ZM25.1042 2.76034C25.1194 2.66696 25.1264 2.57155 25.1249 2.47512L23.1252 2.50678C23.1248 2.48456 23.1264 2.46228 23.13 2.4403L25.1042 2.76034ZM21.988 10.0152C23.6629 7.91337 24.7405 5.39915 25.1077 2.73695L23.1265 2.46369C22.8084 4.76993 21.8748 6.94799 20.4239 8.76883L21.988 10.0152ZM16.1328 14.463C18.4212 13.492 20.4348 11.9644 21.988 10.0152L20.4239 8.76883C19.0783 10.4573 17.334 11.7807 15.3515 12.6219L16.1328 14.463ZM16.4142 16.0641C16.7655 15.2162 16.874 14.2887 16.7296 13.3848L14.7547 13.7002C14.8408 14.2395 14.776 14.7929 14.5665 15.2988L16.4142 16.0641ZM14.588 18.2894C15.4034 17.7445 16.039 16.9702 16.4142 16.0641L14.5665 15.2988C14.3426 15.8393 13.9634 16.3014 13.4769 16.6264L14.588 18.2894ZM11.8333 19.125C12.814 19.125 13.7726 18.8342 14.588 18.2894L13.4769 16.6264C12.9904 16.9515 12.4184 17.125 11.8333 17.125V19.125ZM8.5 19.125H11.8333V17.125H8.5V19.125ZM6.875 17.5C6.875 18.3975 7.60254 19.125 8.5 19.125V17.125C8.70711 17.125 8.875 17.2929 8.875 17.5H6.875ZM6.875 14.1667V17.5H8.875V14.1667H6.875ZM7.71063 11.412C7.1658 12.2274 6.875 13.186 6.875 14.1667H8.875C8.875 13.5816 9.0485 13.0096 9.37357 12.5231L7.71063 11.412ZM9.93586 9.58577C9.02984 9.96105 8.25546 10.5966 7.71063 11.412L9.37357 12.5231C9.69864 12.0366 10.1607 11.6574 10.7012 11.4335L9.93586 9.58577ZM12.6154 9.2704C11.7114 9.12602 10.7838 9.23453 9.93586 9.58577L10.7012 11.4335C11.2071 11.224 11.7606 11.1592 12.2999 11.2454L12.6154 9.2704ZM15.9849 4.0121C14.0358 5.5653 12.5082 7.5788 11.5371 9.86726L13.3782 10.6485C14.2194 8.66603 15.5428 6.92174 17.2313 5.57622L15.9849 4.0121ZM23.264 0.892237C20.6015 1.25931 18.087 2.33699 15.9849 4.0121L17.2313 5.57622C19.0523 4.12508 21.2306 3.19149 23.5372 2.8735L23.264 0.892237ZM23.5013 0.875001C23.4136 0.874892 23.3269 0.881877 23.2419 0.895537L23.5593 2.8702C23.5393 2.87341 23.519 2.87503 23.4988 2.875L23.5013 0.875001ZM14.1848 7.69696C13.6122 8.49159 13.1248 9.34768 12.7324 10.2515L14.567 11.0479C14.9021 10.276 15.3185 9.5448 15.8075 8.8661L14.1848 7.69696ZM18.5954 10.5232C17.8742 9.20804 16.7921 8.12589 15.4769 7.40471L14.5153 9.15835C15.4964 9.69635 16.3037 10.5037 16.8417 11.4848L18.5954 10.5232ZM15.7486 13.2677C16.6524 12.8753 17.5085 12.3879 18.3031 11.8154L17.134 10.1927C16.4553 10.6817 15.7241 11.098 14.9522 11.4331L15.7486 13.2677ZM13.9252 12.0748C14.142 12.2917 14.3226 12.5397 14.4619 12.8092L16.2389 11.8915C16.0056 11.4397 15.7029 11.0241 15.3394 10.6606L13.9252 12.0748ZM13.1908 11.5382C13.4604 11.6774 13.7084 11.858 13.9252 12.0748L15.3394 10.6606C14.976 10.2972 14.5603 9.9945 14.1086 9.76119L13.1908 11.5382ZM13.0413 12.9587C13.219 13.1364 13.3546 13.3503 13.4395 13.5847L15.3198 12.9033C15.1355 12.3947 14.8413 11.9303 14.4555 11.5445L13.0413 12.9587ZM12.4155 12.5606C12.6498 12.6455 12.8636 12.781 13.0413 12.9587L14.4555 11.5445C14.0698 11.1588 13.6056 10.8646 13.0971 10.6803L12.4155 12.5606ZM12.2593 12.5203C12.3811 12.5663 12.5062 12.597 12.6322 12.6127L12.8804 10.6282C12.91 10.6319 12.9388 10.639 12.9658 10.6493L12.2593 12.5203ZM12.0731 12.4363C12.133 12.468 12.1951 12.4961 12.2593 12.5203L12.9658 10.6493C12.98 10.6546 12.9941 10.6609 13.0079 10.6683L12.0731 12.4363ZM12.1666 12.4912C12.2046 12.4987 12.2422 12.5075 12.2794 12.5176L12.8016 10.587C12.7209 10.5651 12.6392 10.546 12.5568 10.5296L12.1666 12.4912ZM11.1796 12.5884C11.4917 12.4591 11.8352 12.4252 12.1666 12.4912L12.5568 10.5296C11.8374 10.3865 11.0918 10.4599 10.4142 10.7406L11.1796 12.5884ZM10.4129 13.2176C10.6006 12.9366 10.8674 12.7177 11.1796 12.5884L10.4142 10.7406C9.73661 11.0213 9.15744 11.4966 8.74997 12.1064L10.4129 13.2176ZM10.125 14.1667C10.125 13.8288 10.2252 13.4985 10.4129 13.2176L8.74997 12.1064C8.34249 12.7163 8.125 13.4332 8.125 14.1667H10.125ZM10.125 16.875V14.1667H8.125V16.875H10.125ZM11.8333 15.875H9.125V17.875H11.8333V15.875ZM12.7824 15.5871C12.5015 15.7748 12.1712 15.875 11.8333 15.875V17.875C12.5668 17.875 13.2837 17.6575 13.8936 17.25L12.7824 15.5871ZM13.4116 14.8204C13.2823 15.1326 13.0634 15.3994 12.7824 15.5871L13.8936 17.25C14.5034 16.8426 14.9787 16.2634 15.2594 15.5858L13.4116 14.8204ZM13.5088 13.8334C13.5748 14.1648 13.5409 14.5083 13.4116 14.8204L15.2594 15.5858C15.5401 14.9082 15.6135 14.1626 15.4704 13.4432L13.5088 13.8334ZM13.4824 13.7205C13.4925 13.7578 13.5013 13.7954 13.5088 13.8334L15.4704 13.4432C15.454 13.3607 15.4348 13.2791 15.413 13.1983L13.4824 13.7205ZM13.4798 13.7408C13.504 13.8048 13.5319 13.8668 13.5635 13.9265L15.3319 12.9923C15.3392 13.0061 15.3455 13.0201 15.3508 13.0343L13.4798 13.7408ZM13.3874 13.3684C13.4032 13.4941 13.4338 13.6191 13.4798 13.7408L15.3508 13.0343C15.361 13.0613 15.3682 13.09 15.3719 13.1196L13.3874 13.3684Z" fill="white" mask="url(#path-2-outside-1_518_43)"/></g>
            <defs><clipPath id="clip0_518_43"><rect width="24" height="24" fill="white" transform="translate(0 1)"/></clipPath><clipPath id="clip1_518_43"><rect width="20" height="20" fill="white" transform="translate(6)"/></clipPath></defs>
        </svg>
    </summary>
    
    <details open id="chat">
        <div class="chat-box">
            <summary>
                <svg class="oba-icon-black" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="logo" viewBox="0 0 48 26" fill="red">
                    <path d="M15.36 0h4.98v10.7h.06a4.67 4.67 0 0 1 2.21-1.65 8.6 8.6 0 0 1 2.9-.48 6.65 6.65 0 0 1 5.4 2.62 8.7 8.7 0 0 1 1.47 2.74 10.24 10.24 0 0 1-.06 6.6 7.6 7.6 0 0 1-1.61 2.64 7.23 7.23 0 0 1-2.5 1.73c-.98.4-2.06.61-3.26.61a5.6 5.6 0 0 1-1.63-.23 6.9 6.9 0 0 1-2.54-1.41c-.32-.3-.58-.6-.78-.88h-.07v2.12h-4.58V0Zm4.58 17.04c0 1.22.35 2.2 1.05 2.96a3.8 3.8 0 0 0 2.93 1.12A3.8 3.8 0 0 0 26.86 20a4.18 4.18 0 0 0 1.05-2.96c0-1.22-.35-2.2-1.05-2.96a3.8 3.8 0 0 0-2.94-1.12A3.8 3.8 0 0 0 21 14.08a4.18 4.18 0 0 0-1.05 2.96ZM6.46 24a6.13 6.13 0 0 1-6-4.17A7.69 7.69 0 0 1 0 17.14c0-.95.15-1.84.46-2.67a6.2 6.2 0 0 1 6-4.17 6.13 6.13 0 0 1 6 4.17c.3.83.46 1.72.46 2.67a7.8 7.8 0 0 1-.45 2.67 6.14 6.14 0 0 1-6 4.17Zm0-3.8c.93 0 1.68-.27 2.26-.8a2.9 2.9 0 0 0 .86-2.24c0-.96-.3-1.71-.86-2.25a3.18 3.18 0 0 0-2.26-.8c-.93 0-1.68.27-2.26.8a2.9 2.9 0 0 0-.85 2.25c0 .96.28 1.7.85 2.24.58.53 1.33.8 2.26.8Zm39.69-5.48v.05a3.6 3.6 0 0 1 1.42 1.69 5.78 5.78 0 0 1 .2 3.88 3.98 3.98 0 0 1-1.92 2.37 3.7 3.7 0 0 1-1.64.35 3.8 3.8 0 0 1-1.8-.39 3.5 3.5 0 0 1-1.22-1.07 5.29 5.29 0 0 1-.75-1.53 12.78 12.78 0 0 1-.54-3.63 74.1 74.1 0 0 1-.03-1.7c-.67 0-1.2.23-1.6.71a2.6 2.6 0 0 0-.6 1.71c0 .66.13 1.2.4 1.7.26.52.61.98 1.07 1.4l-2.08 2.02a7.03 7.03 0 0 1-1.48-2.48 8.82 8.82 0 0 1-.5-2.94c0-1.12.14-2.03.42-2.75.28-.72.69-1.3 1.23-1.73.54-.43 1.2-.73 1.99-.9.78-.16 1.7-.25 2.72-.25h6.26v3.5h-1.55Zm-3.85.94c0 .29.02.65.04 1.07.02.43.1.85.22 1.25s.3.73.53 1c.23.29.57.43.99.43.45 0 .79-.2 1.01-.58.22-.4.33-.8.33-1.22a3.83 3.83 0 0 0-.58-2 2.14 2.14 0 0 0-.71-.65 2.07 2.07 0 0 0-1.02-.24h-.8v.94Z"/>
                </svg>
                <h1>ChatArt room</h1>
            </summary>
            <summary onclick="toggleDetails()">
                <span class="chat-box-close"> 
                    <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" width="24px" height="24px" fill="grey"><path d="M11 0.7H13V23.3H11z" transform="rotate(-45.001 12 12)"/><path d="M0.7 11H23.3V13H0.7z" transform="rotate(-45.001 12 12)"/></svg>
                </span>
            </summary>
            <ul>
                <li>
                    <p class="blank-initial-box">
                        Welkom bij Oba chatArt
                        een chatArt room waar je kunt tekenen en chatten met andere leden <br>
                        Typ hier jouw eerste bericht
                    </p>
                </li>
            </ul>
            <form class="chat-form">
                    <input class="chat-input" type="text" autocomplete="off">
                    <button>
                        <svg class="chat-submit" width="32" height="32" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="40" height="40" rx="4" fill="black"/><g clip-path="url(#clip0_559_24)"><path d="M17.3333 22.6667L32 8" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M32 8L23.3333 32C23.2748 32.1277 23.1809 32.2358 23.0627 32.3117C22.9445 32.3875 22.8071 32.4278 22.6666 32.4278C22.5262 32.4278 22.3887 32.3875 22.2706 32.3117C22.1524 32.2358 22.0585 32.1277 22 32L17.3333 22.6667L7.99997 18C7.87232 17.9415 7.76414 17.8476 7.6883 17.7294C7.61246 17.6112 7.57214 17.4738 7.57214 17.3333C7.57214 17.1929 7.61246 17.0554 7.6883 16.9373C7.76414 16.8191 7.87232 16.7252 7.99997 16.6667L32 8Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></g>
                            <defs><clipPath id="clip0_559_24"><rect width="32" height="32" fill="white" transform="translate(4 4)"/></clipPath></defs>
                        </svg>
                    </button>
            </form>
            <a id="draw" class="link-draw" href="draw">
                    <svg class="palette-icon" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.9604 0.393369C8.19455 1.90902 1.93659 8.1513 0.405306 15.8936C-2.48539 30.5032 10.6946 41.394 20.6245 39.8549C23.8434 39.3549 25.4215 35.5892 23.9449 32.6908C22.1402 29.1438 24.7184 25.0031 28.7029 25.0031H34.9296C37.7265 25.0031 39.9922 22.6906 40 19.9015C39.9609 7.5888 28.7575 -2.09886 15.9604 0.393369ZM7.49923 25.0031C6.11638 25.0031 4.99917 23.8859 4.99917 22.5031C4.99917 21.1203 6.11638 20.0031 7.49923 20.0031C8.88207 20.0031 9.99928 21.1203 9.99928 22.5031C9.99928 23.8859 8.88207 25.0031 7.49923 25.0031ZM9.99928 15.003C8.61644 15.003 7.49923 13.8858 7.49923 12.5029C7.49923 11.1201 8.61644 10.0029 9.99928 10.0029C11.3821 10.0029 12.4993 11.1201 12.4993 12.5029C12.4993 13.8858 11.3821 15.003 9.99928 15.003ZM19.9995 10.0029C18.6167 10.0029 17.4995 8.88569 17.4995 7.50286C17.4995 6.12002 18.6167 5.00282 19.9995 5.00282C21.3824 5.00282 22.4996 6.12002 22.4996 7.50286C22.4996 8.88569 21.3824 10.0029 19.9995 10.0029ZM29.9998 15.003C28.6169 15.003 27.4997 13.8858 27.4997 12.5029C27.4997 11.1201 28.6169 10.0029 29.9998 10.0029C31.3826 10.0029 32.4998 11.1201 32.4998 12.5029C32.4998 13.8858 31.3826 15.003 29.9998 15.003Z" fill="#FF0000"/>
                    </svg>
            </a>
        </div>
    </details>
</details>

</main>

<!-- De opmaak van de footer  -->
<%- include('./partials/foot') %>
